In [2]:
inventario_ = ["maglioni", "jeans", "scarpe", "calze"]
quantità = {"maglioni": 5000, "jeans": 3500, "scarpe": 5500, "calze": 1500}
prezzi = {"maglioni": 45.99, "jeans": 59.99, "scarpe": 119.99, "calze": 9.99}

total = 0
for item in inventario_:
    total += quantità[item]

print(f"Il totale della quantità è: {total}")

Il totale della quantità è: 15500

In [5]:
import locale
locale.setlocale(locale.LC_ALL, 'it_IT.UTF-8')
inventario_ = ["maglioni", "jeans", "scarpe", "calze"]
quantità = {"maglioni": 5000, "jeans": 3500, "scarpe": 5500, "calze": 1500}
prezzi = {"maglioni": 45.99, "jeans": 59.99, "scarpe": 119.99, "calze": 9.99}

total_per_categoria = {}

for item in inventario_:
    categoria = item
    prezzo = prezzi[item]
    quantita = quantità[item]
    totale = prezzo * quantita
  
    if categoria in total_per_categoria:total_per_categoria[categoria] += totale
    else: total_per_categoria[categoria] = totale
for categoria, totale in total_per_categoria.items():
    formatted_total = locale.currency(totale, grouping=True, symbol='€')
    print(f"Il totale del prezzo per {categoria} è: {formatted_total}")

Il totale del prezzo per maglioni è: 229.950,00 €
Il totale del prezzo per jeans è: 209.965,00 €
Il totale del prezzo per scarpe è: 659.945,00 €
Il totale del prezzo per calze è: 14.985,00 €

In [6]:
import locale
locale.setlocale(locale.LC_ALL, 'it_IT.UTF-8')

inventario_ = ["maglioni", "jeans", "scarpe", "calze"]
quantità = {"maglioni": 5000, "jeans": 3500, "scarpe": 5500, "calze": 1500}
prezzi = {"maglioni": 45.99, "jeans": 59.99, "scarpe": 119.99, "calze": 9.99}

total_cost = 0
total_per_categoria = {}

for item in inventario_:
    prezzo = prezzi[item]
    quantita = quantità[item]
    totale = prezzo * quantita
    total_cost += totale
    categoria = item
    if categoria in total_per_categoria:
        total_per_categoria[categoria] += totale
    else:
        total_per_categoria[categoria] = totale

formatted_total_cost = locale.currency(total_cost, grouping=True, symbol='€')
print(f"Il costo totale del tuo inventario è: {formatted_total_cost}.")

for categoria, totale in total_per_categoria.items():
    formatted_total = locale.currency(totale, grouping=True, symbol='€')
    print(f"Il totale del prezzo per {categoria} è: {formatted_total}.")

Il costo totale del tuo inventario è: 1.114.845,00 €.
Il totale del prezzo per maglioni è: 229.950,00 €.
Il totale del prezzo per jeans è: 209.965,00 €.
Il totale del prezzo per scarpe è: 659.945,00 €.
Il totale del prezzo per calze è: 14.985,00 €.

In [7]:
numero_studenti_ = 25
numero_studenti_

25

In [8]:
numero_studenti_ = 25
print(f"Liceo"" ""Margherita",numero_studenti_,"studenti")

Liceo Margherita 25 studenti

In [9]:
numero_studenti_= 25
nuovi_studenti = 3
numero_studenti_=numero_studenti_+nuovi_studenti
numero_studenti_

28

In [10]:
numero_studenti = 25
nuovi_studenti = 3
nuovo_totale = numero_studenti + nuovi_studenti
print("Il nuovo totale di studenti è:", nuovo_totale)

Il nuovo totale di studenti è: 28

In [11]:
nome = "Epicode"

print(nome)

Epicode

In [12]:
numeri = [0, 1, 2, 3, 4, 5]

print(numeri)

[0, 1, 2, 3, 4, 5]

In [13]:
nome_scuola = "Epicode"
print("L'iniziale della stringa è:", nome_scuola[0])

L'iniziale della stringa è: E

In [14]:
nome_scuola = "Epicode"
print("Le prime tre lettere della stringa sono:", nome_scuola[:3])

Le prime tre lettere della stringa sono: Epi

In [27]:
x = 10
x += 2
risultato_1 = x * 3
y = x + 2
risultato_2 = y * 3
print("Metodo 1: Il risultato è", risultato_1)
print("Metodo 2: Il risultato è", risultato_2)

Metodo 1: Il risultato è 36
Metodo 2: Il risultato è 42

In [32]:
stringa = input("Inserisci una stringa: ")
primi_tre = stringa[:3]
ultimi_tre = stringa[-3:]
print(primi_tre + "..." + ultimi_tre)

Inserisci una stringa:  Rampage_rasing

Ram...ing

In [33]:
stringhe = ["Windows", "Excel", "Powerpoint", "Word"]
for stringa in stringhe:
    lunghezza = len(stringa)
    if 5 <= lunghezza <= 8:
        print(stringa, "ha", lunghezza, "caratteri ed è compresa tra 5 e 8 caratteri.")
    else:
        print(stringa, "ha", lunghezza, "caratteri ed è fuori dal range di 5-8 caratteri.")

Windows ha 7 caratteri ed è compresa tra 5 e 8 caratteri.
Excel ha 5 caratteri ed è compresa tra 5 e 8 caratteri.
Powerpoint ha 10 caratteri ed è fuori dal range di 5-8 caratteri.
Word ha 4 caratteri ed è fuori dal range di 5-8 caratteri.

In [ ]:
import itertools
elementi = input("Inserisci gli elementi separati da uno spazio: ")


lista_elementi = elementi.split()


combinazioni = []
for i in range(1, len(lista_elementi) + 1):
    combinazioni += list(itertools.combinations(lista_elementi, i))

print("Le possibili combinazioni degli elementi sono:")
for combinazione in combinazioni:
    print(combinazione)